.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.breaking {
  height: 50px !important;
  margin-top: 75px;
}

.breaking-img {
  height: 55px !important;
}

.p-breaking {
  line-height: 60px;
}
.p-breaking p {
  font-size: 12px !important;
}
.p-breaking p a {
  color: #C9D408 !important;
  font-weight: 600;
}

.card-penyakit {
  background-color: #0C958E !important;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}
.card-penyakit a {
  color: white;
  text-decoration: none;
}
.card-penyakit .card-body:hover {
  background-color: #0E817B !important;
}
.card-penyakit .card-body:hover a {
  color: #C9D408;
}
.card-penyakit .card-body:hover svg path {
  fill: #C9D408;
}
.card-penyakit .card-body:hover svg path .cls-1, .card-penyakit .card-body:hover svg path .cls-2 {
  fill: #C9D408;
}

.card-agenda {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}

.agenda h6 {
  font-size: 14px;
}
.agenda h6 a {
  color: #0C958E !important;
  text-decoration: none;
}
.agenda h6 :hover a {
  color: #0E817B !important;
  text-decoration: underline;
}

.card-agenda .card {
  position: relative;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.card-agenda .card .list-agenda {
  position: absolute;
  left: 0 !important;
}

.carousel-news .item {
  height: 65vh !important;
}
.carousel-news .item .card {
  height: 65vh !important;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4), -2px -2px 2px rgba(0, 0, 0, 0.4);
}
.carousel-news .item .card img {
  width: 100%;
}

@media (max-width: 991px) {
  .card {
    height: 50vh !important;
  }

  .carousel-news .item {
    height: 90vh !important;
  }
  .carousel-news .item .card {
    height: 90vh !important;
  }
}
@media (max-width: 770px) {
  .p-breaking p {
    font-size: 9px !important;
  }
}
@media (max-width: 604px) {
  .p-breaking p {
    font-size: 8px !important;
  }
}
@media (max-width: 595px) {
  .carousel-news .item {
    height: 125vh !important;
  }
  .carousel-news .item .card {
    height: 125vh !important;
  }
  .carousel-news .item .card img {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .breaking {
    height: 35px !important;
    margin-top: 83px;
  }

  .breaking-img {
    width: 200px !important;
    height: 35px !important;
  }

  .p-breaking {
    line-height: 35px;
  }
  .p-breaking p {
    font-size: 8px !important;
  }

  .carousel-news .item {
    height: 125vh !important;
  }
  .carousel-news .item .card {
    height: 125vh !important;
  }
  .carousel-news .item .card img {
    width: 100%;
  }
}
@media (max-width: 532px) {
  .breaking {
    height: 30px !important;
    margin-top: 83px;
  }

  .breaking-img {
    width: 150px !important;
    height: 35px !important;
  }

  .p-breaking {
    line-height: 30px;
  }
  .p-breaking p {
    font-size: 8px !important;
  }
}
@media (max-width: 474px) {
  .breaking {
    height: 20px !important;
    margin-top: 83px;
  }

  .breaking-img {
    width: 100px !important;
    height: 20px !important;
  }

  .p-breaking {
    line-height: 20px !important;
  }
  .p-breaking p {
    font-size: 8px !important;
  }

  .carousel-news .item {
    height: 100vh !important;
  }
  .carousel-news .item .card {
    height: 100vh !important;
  }
  .carousel-news .item .card img {
    width: 100%;
  }
}
@media (max-width: 354px) {
  .brand-img {
    width: 200px !important;
    height: 60px !important;
  }

  .breaking {
    height: 35px !important;
    margin-top: 83px;
  }

  .p-breaking {
    line-height: 40px;
  }
  .p-breaking p {
    font-size: 8px !important;
  }

  .carousel-news .item {
    height: 75vh !important;
  }
  .carousel-news .item .card {
    height: 75vh !important;
  }
  .carousel-news .item .card img {
    width: 100%;
  }
}

/*# sourceMappingURL=home.css.map */
