.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.breaking {
  height: 9vh !important;
  overflow: auto;
}

.breaking-img {
  height: 9vh !important;
}

.p-breaking {
  line-height: 50px;
}
.p-breaking p {
  font-size: 14px !important;
}
.p-breaking p a {
  color: #C9D408 !important;
  font-weight: 600;
}

.slider-jumbotron {
  width: 60%;
  height: inherit;
  position: absolute;
  top: 0;
  height: 64.7vh;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto;
}

.card-penyakit {
  background-color: #0C958E !important;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}
.card-penyakit a {
  color: white;
  text-decoration: none;
}
.card-penyakit .card-body:hover {
  background-color: #0E817B !important;
}
.card-penyakit .card-body:hover a {
  color: #C9D408;
}
.card-penyakit .card-body:hover svg path {
  fill: #C9D408;
}
.card-penyakit .card-body:hover svg path .cls-1, .card-penyakit .card-body:hover svg path .cls-2 {
  fill: #C9D408;
}

.card-agenda {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}

.agenda h6 {
  font-size: 14px;
}
.agenda h6 a {
  color: #0C958E !important;
  text-decoration: none;
}
.agenda h6 :hover a {
  color: #0E817B !important;
  text-decoration: underline;
}

.card-agenda .card {
  position: relative;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.card-agenda .card .list-agenda {
  position: absolute;
  left: 0 !important;
}

.carousel-news .item .card {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4), -2px -2px 2px rgba(0, 0, 0, 0.4);
}
.carousel-news .item .card img {
  width: 100%;
}

.web-carousel {
  visibility: visible;
  position: static;
}

.mobile-carousel {
  visibility: hidden;
  position: fixed;
}

@media (max-width: 991px) {
  .card {
    height: 50vh !important;
  }
}
@media (max-width: 770px) {
  .breaking-img {
    height: 9vh !important;
    width: 200px !important;
  }

  .p-breaking {
    margin-left: 15px !important;
  }
  .p-breaking p {
    font-size: 10px !important;
  }
}
@media (max-width: 606px) {
  .breaking-img {
    height: 9vh !important;
    width: 150px !important;
  }

  .p-breaking {
    margin-left: 0 !important;
  }
  .p-breaking p {
    font-size: 9px !important;
  }
}
@media (max-width: 576px) {
  .p-breaking {
    margin-left: 0 !important;
  }
  .p-breaking p {
    font-size: 10px !important;
  }

  .web-carousel {
    visibility: hidden;
    position: fixed;
  }

  .mobile-carousel {
    visibility: visible;
    position: static;
  }
}
@media (max-width: 575px) {
  .card {
    height: 100% !important;
  }
}
@media (max-width: 558px) {
  .breaking-img {
    height: 9vh !important;
    width: 150px !important;
  }

  .p-breaking {
    margin-left: 0 !important;
  }
  .p-breaking p {
    font-size: 9px !important;
  }
}
@media (max-width: 516px) {
  .breaking-img {
    height: 9vh !important;
    width: 150px !important;
  }

  .p-breaking {
    margin-left: 0 !important;
  }
  .p-breaking p {
    font-size: 8px !important;
  }
}
@media (max-width: 476px) {
  .breaking-img {
    height: 9vh !important;
    width: 130px !important;
  }

  .p-breaking {
    margin-left: 0 !important;
  }
  .p-breaking p {
    font-size: 8px !important;
  }
}
@media (max-width: 354px) {
  .brand-img {
    width: 200px !important;
    height: 60px !important;
  }
}

/*# sourceMappingURL=home.css.map */
