
:root{
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}

#navbarSupportedContent{
    margin-left: 100px !important;
    li{
        margin-right: 5px !important;
        padding: 10px !important;
    }
}

.nav-li-active{
    background-color: #0E817B !important;color: white !important;
    a:active{
        color: white;
    }
}

li.li-nav:hover{
    background-color: #0E817B !important;color: white !important;
    a.nav-a-item{
        color: white !important;
    }
}

li.li-nav:active{
    background-color: #0E817B !important;color: white !important;
    a.nav-a-item:active{
        color: white !important;
    }
}

.brand-img{
    width: 350px !important;
    height: 60px !important;
}

// BreadCumbs
/*Menghilangkan liststyle pada tag list*/
.breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /*Merubah tag list menjadi inline dan membuat hruf menjad capital*/
.breadcrumb{
    background-color: rgba(0,0,0,0);
    li{
        display: inline;
        a{
            color:#646464;
        }
        
    }
}
.breadcrumb li+li:before {
    content:">";
    color:#646464;
    margin-left: 5px;
    margin-right: 5px;
}
.breadcrumb li:hover a:hover {
    content:">";
    color:#FFFFFF;
    text-decoration: none;
}
// End Of Breadcumbs

@media (max-width: 984px) { 
    #navbarSupportedContent{
        margin-left: 0 !important;
        li{
            margin-right: 0 !important;
            padding: 0 !important;
        }
    }
}

@media (max-width: 456px) { 
    .brand-img{
        width: 250px !important;
        height: 60px !important;
    }
}